<h2 class="title text-center">Add New Banner</h2>

<form action="/admin/add-banner" method="post" id="banner2" enctype="multipart/form-data"
  onsubmit="return submitForm(this)">


  <div class=" row col-lg-12">
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="brand" placeholder="Banner Name" name="name">
    </div>
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="brand" placeholder="description" name="description">
    </div>
  </div>
  <div class=" row col-lg-12">
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="brand" placeholder="title1" name="title1">
    </div>
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="brand" placeholder="title2" name="title2">
    </div>
  </div>
  <div class=" row col-lg-12">
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="brand" placeholder="title3" name="title3">
    </div>
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="brand" placeholder="link" name="link">
    </div>
  </div>



  <div class="mt-5" id="">
    <label for="">IMAGE 1</label>
    <img src="" alt="" style="width: 100px; height:auto" id="banner1">
    <input type="file" name="image8" class="form-control" onchange="return viewimageog1(event)">
  </div>


<div class="mt-5">
    <label for="">IMAGE 2</label>
    <img src="" alt="" style="width: 100px; height:auto" id="banner2">
    <input type="file" name="image9" class="form-control" onchange="return viewimageog2(event)">
  </div>




  <div class="mt-5">
    <label for="">IMAGE 3</label>
    <img src="" alt="" style="width: 100px; height:auto" id="banner3">
    <input type="file" name="image10" id="file10" class="form-control" onchange="return viewimageog3(event)">
  </div>




  <button id="sub"  type="submit" class="btn btn-primary">Add banner</button><br>
  <div id="errMsg" style="display: none;">Upload image file only</div>
</form>






          
          {{!-- thied banner add/ --}}






<script>



  $(document).ready(function () {
    $("#banner").validate({
      rules: {
        description: {
          required: true

        },
        title1: {

          required: true

        },
        title2: {
          required: true

        },
        title3: {
          required: true

        },
        link: {
          required: true

        },
        imge8: {
          required: true

        },



      },
    })
  })
</script>






<script>

  function viewimageog1(event) {

    document.getElementById('banner1').src = URL.createObjectURL(event.target.files[0])

    let file = event.target.files[0].name
    let extension = file.split('.').pop()
    if (extension == 'jpeg' || extension == 'png' || extension == 'jpg') {
      alert("fjkfjk")
      $('#imagog').show()
      $('#sub').show()
      $('#errMsg').hide()

    }
    else {
alert("in else")
      $('#sub').hide()
      $('#errMsg').show()

    }
  }


</script>

<script>

  function viewimageog2(event) {

    document.getElementById('banner2').src = URL.createObjectURL(event.target.files[0])

    let file = event.target.files[0].name
    let extension = file.split('.').pop()
    if (extension == 'jpeg' || extension == 'png' || extension == 'jpg') {
      $('#imagog').show()
      $('#sub').show()
      $('#errMsg').hide()

    }
    else {
      alert('Please upload file having extensions .jpeg only.');
      $('#errMsg').show()

    }
  }


</script>
<script>

  function viewimageog3(event) {

    document.getElementById('banner3').src = URL.createObjectURL(event.target.files[0])

    let file = event.target.files[0].name
    let extension = file.split('.').pop()
    if (extension == 'jpeg' || extension == 'png' || extension == 'jpg') {
      $('#imagog').show()
      $('#sub').show()
      $('#errMsg').hide()

    }
    else {
      alert('Please upload file having extensions .jpeg only.');
      $('#errMsg').show()

    }
  }


</script>







{{!--
--}}