
<form action="/admin/addcategory" method="post" id="sample" onsubmit="return submitForm(this)">
    <h2 class="title text-center">Add New Category</h2>
 



 
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="category" placeholder="Add category" name="cname">
    </div>
     {{!-- <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="category" placeholder="sub category" name="sname">
    </div> --}}

  <button type="submit" class="btn btn-primary ml-5">ADD</button>
</form>