
<h2 class="title text-center">Add New Brands</h2>

<form action="/admin/addnewbrands" method="post" id="brand" enctype="multipart/form-data"  onsubmit="return submitForm(this)">


  <div class=" row col-lg-12">
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="brand" placeholder="Brand Name" name="brand">
    </div>
    <div class="col-lg-6 mt-5">
      <input type="text" class="form-control mb-3" id="brand" placeholder="description" name="description">
    </div>
  </div>







 <div class="mt-5">
    <label for="">IMAGE 1</label>
    <img src="" alt="" style="width: 100px; height:auto" id="banner1">
    <input type="file" name="image" id="" class="form-control" onchange="return viewimageog1(event)">
  </div>




  <button id="sub"  type="submit" class="btn btn-primary">Add brand</button><br>
  <div id="errMsg" style="display: none;">Upload image file only</div>
</form>




<script>

  function viewimageog1(event) {

    document.getElementById('banner1').src = URL.createObjectURL(event.target.files[0])

    let file = event.target.files[0].name
    let extension = file.split('.').pop()
    if (extension == 'jpeg' || extension == 'png' || extension == 'jpg') {
  
      $('#imagog').show()
      $('#sub').show()
      $('#errMsg').hide()

    }
    else {
alert("in else")
      $('#sub').hide()
      $('#errMsg').show()

    }
  }


</script>
