{{!--  --}}

{{!-- <header role="banner" style=""> --}}
  <header role="banner" class="navbar navbar-expand-md navbar " style="height: 90px;">
    <div class="container">
      <a class="navbar-brand" href="/">LA FEMME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
        aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="background-color: black;"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
          <li class="nav-item">
            <a class="nav-link active" style="color: black; font-weight: 500;" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: black; font-weight: 500;" href="/WOMEN">WOMEN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: black; font-weight: 500;" href="/wishlist">WISHLIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: black; font-weight: 500;" href="/orders">MY ORDERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: black; font-weight: 500;" href="/cart">CART</a>
          </li>
          <li class="nav-item" style="color: green;">
            <a href="/cart"> <i class="fas fa-shopping-cart mt-3">
                <span class="badge badge-pill badge-warning">{{cartcount}}</span></i>   </a> 

          </li>

     




        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            {{#if user}}
            <a class="nav-link dropdown-toggle" style="color: black; font-weight: 500;" href="#" id="dropdown04"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.firstname}}</a>
            {{else}}
            <a class="nav-link dropdown-toggle" style="color: black; font-weight: 500;" href="#" id="dropdown04"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACCOUNT</a>
            {{/if}}

            <div class="dropdown-menu" aria-labelledby="dropdown04">
              {{#if user}}
              <a class="dropdown-item" style="color: black; font-weight: 500;" href="/logout">LOGOUT</a>


              <a class="dropdown-item" style="color: black; font-weight: 500;" href="/PROFILE">PROFILE</a>

              {{else}}
              <a class="dropdown-item" style="color: black; font-weight: 500;" href="/login">LOGIN</a>
              <a class="dropdown-item" style="color: black; font-weight: 500;" href="/signup">SIGNUP</a>
              {{/if}}
            </div>
          </li>
        </ul>

      </div>
    </div>
  </header>

  {{!--
</header> --}}

<ul class="standard_dropdown top_bar_dropdown">