<div class="container">
    <div class="text-center mt-5">
        <div style="background-color:blanchedalmond" >
            <h2 class="text-center" style="height: 100px;">ORDER IS EMPTY!</h2>
    <a type="button" href="/women" class="btn btn-warning">Continue Shopping</a>
        <a type="button" href="/" class="btn btn-info" style="">HOME</a>
        </div>

        

    </div>
</div>