



    <div class="pt-5   " style="">
    
        <div class="container  " >
            <div class="row justify-content-center">
           
            <div class="card card-body   col-md-6  ">
                 <form id="submitForm" action="/signup" method="post" novalidate="" _lpchecked="1"> 
                    <input type="hidden" name="_csrf" value="7635eb83-1f95-4b32-8788-abec2724a9a4">
                    <div class="form-group required">
                      
                        <div class="row  col-md-12">
                            <div class="col-lg-6">
                                 <label for="username"> Enter your Name </label>
                                <input type="text" class="form-control text-lowercase"  required="" name="firstname"
                            value="">
                            </div>
                              
                            <div class="col-md-6 ">
                               <label for="username"> Enter your Last Name </label>
                                <input type="text" class="form-control text-lowercase"  required="" name="lastname"
                            value="">
                            </div>
                        </div>
                        
                    </div>

                    <div class="form-group required col-lg-12">
                        <label class="d-flex flex-row align-items-center" for="email"> Enter your Email
                          
                        </label>
                        <input type="email" class="form-control" required="" id="email" name="email" value="">
                    </div>
                      <div class="form-group required col-lg-12">
                        <label class="d-flex flex-row align-items-center"   for="password"> Enter your mobile number
                        
                        </label>
                        <input type="number" class="form-control" required="" id="number" onkeydown="return event.keyCode !==69" name="mobile" value="">
                    </div>
                       <div class="form-group required col-lg-12">
                        <label class="d-flex flex-row align-items-center" for="password"> Enter your Password
                           
                        </label>
                        <input type="password" class="form-control" required="" id="password" name="password" value="">
                    </div>
                    <div class="row   mb-4 col-lg-12" >
                      
                       
           
                    </div>
                    <div class="form-group pt-1 col-lg-12">
                        <button class="btn btn-primary btn-block" type="submit" style="background-color: #414c6a;"> GET OTP </button>
                    </div>
                </form>
                <p class="small-xl pt-3 text-center">
                 <a href="/login" style="border-style: none;"> <span class="text-muted"> Already have an account? </span></a>  
        
                </p>
            </div>
            </div>
        </div>
    </div>
           
